nav(class=['sb-sidenav', 'accordion'] class=sidenavStyle)#sidenavAccordion
        
    .sb-sidenav-menu
        
        .nav
    
            .sb-sidenav-menu-heading
                | Core
            a.nav-link(href='index.html')
                .sb-nav-link-icon
                | Home 
            a.nav-link(href='Datasets.html')
                .sb-nav-link-icon
                | Datasets
            a.nav-link(href='Analytics.html')
                .sb-nav-link-icon
                | Analytics   
    .sb-sidenav-footer

        .small Logged in as:
        | Start Bootstrap
